
.container {
  width: 100%;
  height: 90vh;
  border: 2px dashed brown;
  border-radius: 5px;
  margin: 0.02em;
  background-color: peru;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row {
  border: 1px dashed lightgreen;
  border-radius: 5px;
  margin: 0.2em;
}

.row-1 {
  display: flex;
  height: 66%;
  justify-content: center;
}

.row-2 {
  display: flex;
  height: 33%;
}

.spot {
  font-size: 4rem;
  border: 1px dashed gold;
  border-radius: 5px;
  margin: 0.02em;
  height: 70px;
}

.corn {
  align-self: center;
}

.tomato {
  align-self: flex-start;
}

.mushroom {
  align-self: flex-end;
}

.eggplant {
}

.strawberry {
  order: -1;
}

.pepper {}

